$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: true;
$enable-transitions: true;

$theme-colors: (
  'primary': #2196f3,
  'secondary': #009688,
  'danger': #f44336,
  'warning': #ffc107,
  'success': #4caf50,
  'info': #17a2b8
);
